:root {
  --primary-brown: #362B21;
  --primary-gold: #FFC700;
}

body {
  background-color: var(--primary-brown);
  margin: 0;
  font-family: 'Quattrocento', serif;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: white;
}


h5,
h6,
p {
  font-family: 'Fanwood Text', serif;
}

p {
  font-size: 18px;
}

.title {
  text-align: center;
}

.title-top {
  font-size: 72px;
}

main {
    display: flex;
    justify-content: center;
}

#image-content {
    width: 70%;
}
