:root {
  --primary-brown: #362B21;
  --primary-gold: #FFC700;
}

body {
  background-color: var(--primary-brown);
  margin: 0;
  font-family: 'Quattrocento', serif;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: white;
}


h5,
h6,
p {
  font-family: 'Fanwood Text', serif;
}

p {
  font-size: 18px;
}

.haiku-wrapper {
  text-decoration: underline white;
  font-family: 'Lobster', cursive;
  font-size: 2em;
  margin: 0 4em 0 4em; 
}

@media only screen and (max-width: 800px) {
  .haiku-wrapper {
    margin: 0 10px 0 10px;
  }
}

.what {
  text-align: right;
}

a:visited {
  color: white;
}

.title {
  text-align: center;
}

.title-top {
  font-size: 72px;

}

.title-bottom {
  font-size: 48px;
}

@media only screen and (max-width: 800px) {
   .title-top {
     font-size: 48px;
   }

   .title-bottom {
    font-size: 32px;
  }
}



.divider {
  position: relative;
  text-align: center;
}

.line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid var(--primary-gold);
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 12.5px;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;  
  border: 10px solid var(--primary-brown);
}

.dot > img {
  padding-top: 3.5px;
}

.pulse-loader {
  animation: pulse 2s infinite linear;
}

.spin-container {
  display: flex;
  justify-content: center;
}

.spin-loader {
  max-width: 200px;
  animation: spin 5s infinite linear;
}

@keyframes spin {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
