/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

@import url('https://fonts.googleapis.com/css?family=Fanwood+Text|Lobster|Quattrocento&display=swap');

:root {
  --primary-brown: #362B21;
  --primary-gold: #FFC700;
}

body {
  background-color: var(--primary-brown);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: white;
}

h1,
h2,
h3,
h4 {
  font-family: 'Quattrocento', serif;
}

h5,
h6,
p {
  font-family: 'Fanwood Text', serif;
}

.haiku {
  font-family: 'Lobster', cursive;
}

.title {
  text-align: center;
}

.divider {
  position: relative;
  text-align: center;
}

.line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid var(--primary-gold);
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 12.5px;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;  
  border: 10px solid var(--primary-brown);
}

.dot > img {
  padding-top: 3.5px;
}

.pulse-loader {
  animation: pulse 2s infinite linear;
}

.spin-container {
  display: flex;
  justify-content: center;
}

.spin-loader {
  max-width: 200px;
  animation: spin 5s infinite linear;
}

@keyframes spin {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}